body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}
  
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.table-container {
  width: 70%;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 8px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
}

button {
  padding: 8px 16px;
  font-size: 14px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}

table th, table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table th {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #f5f5f5;
}
  
.shake {
  animation: shake-animation 0.3s;
}

@keyframes shake-animation {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

.popup-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 50%;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

.popup-content {
  text-align: center;
}

.popup-message {
  display: block;
  margin-bottom: 1rem;
}

.popup-content button {
  margin-top: 2rem;
}

@media (max-width: 1000px) {
  .container {
    padding: 10px;
  }

  .table-container {
    width: 85%;
  }

  input[type="text"] {
    width: 250px;
    height: 40px;
    font-size: 25px;
    padding: 10px;
  }

  button {
    width: 120px;
    height: 60px;
    font-size: 25px;
    padding: 10px;
  }

  table th, table td {
    height: 50px;
    font-size: 25px;
  }

  .popup-container {
    width: 80%;
    padding: 1rem;
  }

  .popup-content button {
    width: 40%;
    height: 20%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    font-size: 28px;
  }

  .popup-message{
    font-size: 28px;
  }
}